.Foods-container {
    max-width: 800px;
    margin: 1 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  
  .Food-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:calc(50%-10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  img {
    width: 50%;
    max-height: 250px; /* Smaller image height */
    object-fit: cover;
    border-radius: 5px;
  }
  
  .Food-details {
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  }
  
  .Food-details select {
    width: calc(50% - 4px); /* Make selects half of the container width */
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Food-details p {
    font-weight: bold;
    font-size: 14px; /* Smaller font size for details */
  }
  
  .Food-details p:first-child {
    margin: 0;
  }
  
  @media (max-width: 600px) {
    .Food-details select {
      width: 100%; /* Full width on smaller screens */
    }
  
}
.btn{
    background-color: orangered;
    color:white !important;
}
  